<div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="form-group mt-5">
            <label class="form-label">Username</label>
            <input [(ngModel)]="username" type="text" placeholder="Enter username" class="form-control">
        </div>
        
        <div class="form-group mt-5">
            <label class="form-label">Password</label>
            <input class="form-control" [(ngModel)]="password" type="password" placeholder="Enter password" (keyup.enter)="login()">
        </div>
        <button class="mt-5 btn btn-primary" (click)="login()">Login</button>
    </div>
</div>